:host {
  margin-right: 20px;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 150px;

  padding: 20px;
  border: 1px solid #293241;
  border-radius: 10px;

  font-size: 24px;
  color: white;

  background: url("~src/assets/images/board.jpg") no-repeat center top;

  transition-property: transform;
  transition-duration: 1s;

  position: relative;

  &__creator {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &:hover {
    cursor: pointer;

    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 1s;
  }
}

@media screen and (max-device-width: 450px) {
  .board {
    width: 200px;
    height: 100px;
  }
}
