.back-to-queues {
  display: flex;
  align-self: flex-start;

  &_link {
    display: inline-block;
    color: #ee6c4d;

    &_icon {
      margin-right: 5px;
    }
  }
}

.create-queue {
  box-sizing: border-box;
  align-items: center;

  &__title {
    align-self: flex-start;
    box-sizing: border-box;

    font-size: 28px;
    padding: 30px 20px;
  }

  &__form {
    box-sizing: border-box;

    &__item {
      font-size: 22px;
      box-sizing: border-box;

      &_input {
        font-size: 18px;
        border-radius: 5px;
        margin-left: 5px;

        width: 300px;

        &_invalid {
          border: 2px solid red;
        }
      }
    }

    &__title {
      &_help {
        font-size: 16px;
        margin-left: 10px;
      }
    }

    &_help {
      font-size: 16px;
    }

    &__submit {
      padding: 10px 20px;
      font-size: 18px;

      border-radius: 10px;
      background-color: #3d5a80;
      color: white;

      margin: 20px 0 0 20px;
    }
  }
}

@media screen and (max-device-width: 800px) {
  .create-queue {
    &__form {
      &__title {
        &_help {
          display: block;
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-device-width: 450px) {
  .back-to-queues {
    align-self: center;
  }

  .create-queue {
    padding: 0;

    &__title {
      align-self: center;
    }

    &__form {
      align-self: center;
      align-items: center;

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_input {
          margin-top: 5px;
          margin-left: 0;
        }
      }

      &__title {
        &_help {
          margin-left: 0;
          margin-top: 5px;
        }
      }

      &__submit {
        margin-left: 0;
      }
    }
  }
}
