<div
  class="create-task flex flex-column padding-20 full-size"
  *ngIf="queues$ | async as queues"
>
  <div
    *ngIf="queues.length === 0"
    class="create-task__no-queues full-size flex flex-column"
  >
    Невозможно создать задачу, т.к. нет очередей.
    <a class="hover hover-underline create-task__no-queues_link"
      >Создайте сначала очередь</a
    >
  </div>

  <div class="create-task__header">
    Создать задачу
  </div>

  <div class="hr"></div>

  <div class="create-container flex full-size">
    <div class="create-task__queue flex">
      Выберите очередь:
      <span class="create-task__queue_selected">
        {{ getSelectedQueue(queues) }}
        <label class="create-task__queue_label">
          <select
            class="create-task__queue_label_select hover"
            (change)="changeSelectedQueue($event)"
          >
            <option
              *ngFor="let queue of queues; let index = index"
              [selected]="index === selectedQueue"
            >
              {{ queue }}
            </option>
          </select>
        </label>
      </span>
    </div>

    <div class="create-task__title flex">
      Введите название:
      <input
        type="text"
        class="create-task__title_input"
        [(ngModel)]="taskTitle"
      />
    </div>

    <div class="create-task__priority flex">
      Приоритет:
      <span class="create-task__priority_selected">
        {{ getSelectedPriority() }}
        <label class="create-task__priority_label">
          <select
            class="create-task__priority_label_select hover"
            (change)="changeSelectedPriority($event)"
          >
            <option
              *ngFor="let priority of prioritiesList; let index = index"
              [selected]="index === selectedPriority - 1"
            >
              {{ priority }}
            </option>
          </select>
        </label>
      </span>
    </div>
  </div>

  <div class="create-container flex full-size">
    <div
      class="create-task__assignee flex"
      *ngIf="usernames$ | async as usernames"
    >
      Назначить задачу на:
      <span class="create-task__assignee_selected"
        >{{ getSelectedAssignee(usernames) }}
        <label class="create-task__assignee_label">
          <select
            class="create-task__assignee_label_select hover"
            (change)="changeSelectedAssignee($event, usernames)"
          >
            <option [selected]="selectedAssignee === -1">
              Не назначать
            </option>
            <option
              *ngFor="let username of usernames; let index = index"
              [selected]="index === selectedAssignee"
            >
              {{ username[1] }} {{ username[2] }}
            </option>
          </select>
        </label>
      </span>
    </div>

    <div
      class="create-task__observers flex"
      *ngIf="usernames$ | async as usernames"
    >
      Наблюдатели:
      <span class="create-task__observers_selected"
        >{{ getSelectedObservers() }}
        <label class="create-task__observers_label">
          <select
            class="create-task__observers_label_select hover"
            (change)="changeSelectedObservers($event)"
          >
            <option></option>
            <option>Не назначать</option>
            <option
              *ngFor="let username of notSelected(usernames); let index = index"
              [value]="username"
            >
              {{ username[1] }} {{ username[2] }}
            </option>
          </select>
        </label>
      </span>
    </div>
  </div>

  <div class="create-task__description flex flex-column full-width">
    <div class="create-task__description__header">Описание задачи:</div>
    <div class="create-task__description__header_buttons full-width flex">
      <button
        (click)="editToggle(false)"
        [class.create-task__description__header_buttons_btn_active]="!isPreview"
        class="create-task__description__header_buttons_btn write"
      >
        Write
      </button>

      <button
        (click)="editToggle(true)"
        [class.create-task__description__header_buttons_btn_active]="isPreview"
        class="create-task__description__header_buttons_btn preview"
      >
        Preview
      </button>
    </div>
    <textarea
      *ngIf="!isPreview"
      class="create-task__description__text full-width border radius-10"
      [(ngModel)]="taskDescription"
    ></textarea>

    <div
      class="create-task__description__text_preview full-width border radius-10"
      *ngIf="isPreview"
    >
      <ngx-md>
        {{ taskDescription || "Nothing to show" }}
      </ngx-md>
    </div>
  </div>

  <div class="create-task__submit">
    <div
      [class.create-task__submit__button_disabled]="isDisabled"
      class="create-task__submit__button hover padding-10-20 radius-10"
      (click)="createTask(queues)"
    >
      Создать
    </div>
  </div>
</div>
