<div class="main-page">
  <app-header></app-header>
  <div class="main-page__content">
    <section class="main-page__content__text">
      <div class="main-page__content__text_about">
        <span class="project-title">Star Trello</span> - это проект на основе
        <i><a href="https://trello.com" target="_blank">Trello</a></i> и
        <i
          ><a href="https://yandex.ru/tracker/" target="_blank"
            >Яндекс Трекера</a
          ></i
        >.
      </div>

      <div class="main-page__content__text_purpose">
        С помощью <span class="project-title">Star Trello</span> Вы сможете
        вместе со своей командой планировать задачи, составлять спринты и
        очереди. <span class="project-title">Star Trello</span> поможет Вам
        наилучшим образом организовать Вашу работу.

        <div class="main-page__content__text_purpose_call">
          Зарегистрируйтесь прямо сейчас!
        </div>
      </div>

      <div class="main-page__content__text__registration">
        <input
          class="main-page__content__text__registration_input"
          type="email"
          placeholder="Электронная почта"
        />
        <a class="main-page__content__text__registration_button" routerLink="/"
          >Зарегистрироваться</a
        >
      </div>
    </section>
    <aside class="main-page__content__wow-image">
      <img
        class="main-page__content__wow-image_size"
        src="https://previews.123rf.com/images/sabelskaya/sabelskaya1807/sabelskaya180700398/115098319-scrum-task-board-big-agile-organizer-with-people-sticking-papers-on-it-isolated-on-white-background-.jpg"
        alt=""
      />
    </aside>
  </div>
  <footer class="main-page__footer">
    <div class="main-page__footer__copyright">© 2020. Все права защищены.</div>
    <div class="main-page__footer__by-me">
      By <a href="https://github.com/avdeev1" target="_blank">avdeev1</a>
    </div>
  </footer>
</div>
