<div class="boards" *ngIf="boards$ | async as boards">
  <div class="boards__title">
    Ваши доски
    <i class="fas fa-thumbtack"></i>
  </div>

  <div class="boards__list">
    <div class="boards__list__create">
      <i class="fas fa-plus boards__list__create_icon"></i>
      Создать доску
    </div>

    <app-dashboard-board
      *ngFor="let board of boards"
      [board]="board"
    ></app-dashboard-board>
  </div>

  <div class="boards__search">
    <div class="boards__title">
      Быстрый поиск по названию
      <i class="fas fa-search"></i>
    </div>

    <label class="boards__search__label">
      <input
        class="boards__search_input"
        placeholder="Введите название доски"
        type="text"
        [(ngModel)]="search"
        (keyup)="find()"
      />
    </label>

    <div class="boards__list">
      <app-dashboard-board
        *ngFor="let board of filterBoards"
        [board]="board"
      ></app-dashboard-board>
    </div>
  </div>
</div>
