<div class="row full-width flex">
  <div class="row__item row__priority">
    <div class="row__priority_icon">
      <app-priority [priority]="data.priority"></app-priority>
    </div>
  </div>

  <a [routerLink]="queueUrl" class="row__item row__key flex">
    {{ data.key }}
  </a>

  <a [routerLink]="taskUrl" class="row__item row__title flex">
    {{ data.title }}
  </a>

  <a class="row__item row__person row__creator flex">
    {{ data.creator.name }}
    <div class="row__person__profile-layout">
      <app-profile-layout [user]="data.creator"></app-profile-layout>
    </div>
  </a>

  <a class="row__item row__person flex">
    {{ (data.person && data.person.name) || "Нет исполнителя" }}
    <div class="row__person__profile-layout" *ngIf="data.person">
      <app-profile-layout [user]="data.person"></app-profile-layout>
    </div>
  </a>

  <div class="row__item row__status flex flex-column">
    {{ getTaskStatus(data.status) }}
    <span *ngIf="data.comment" class="row__status_comment">{{
      data.comment
    }}</span>
  </div>

  <div class="row__item row__date flex">
    {{ data.refresh | update }}
  </div>
</div>
