<div class="login-page">
  <app-header [showMainPageButton]="true"></app-header>
  <div class="login-page__content">
    <div class="login-page__content__login">
      <div class="login-page__content__login__text">
        Вход в <span class="project-title">Star Trello</span>
      </div>

      <div
        class="login-page__content__login__form"
        [class.login-page__content__login__form_width]="deviceWidth === 320"
      >
        <div class="login-page__content__login__form__logo">
          <i
            class="fas fa-calendar-alt login-page__content__login__form__logo_icon"
          ></i>
        </div>

        <div
          class="login-page__content__login__form__input"
          *ngFor="let input of inputs; let i = index"
        >
          <input
            [type]="input.type"
            [class]="input.class"
            [placeholder]="input.placeholder"
            autocomplete="new-password"
            [(ngModel)]="data[input.ngModel]"
          />
        </div>

        <button
          class="login-page__content__login__form__submit"
          [class.login-page__content__login__form__submit_active]="
            !isDisabled()
          "
          (click)="submit()"
          [disabled]="isDisabled()"
        >
          Войти
        </button>

        <div class="login-page__content__login__form__horizontal"></div>

        <div class="login-page__content__login__form__other-links">
          <a
            routerLink="/registration"
            class="login-page__content__login__form__other-links_link"
            >Зарегистрироваться
          </a>
          <a
            routerLink="/"
            class="login-page__content__login__form__other-links_link"
            >Забыли пароль?
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
