<div class="menu full-width flex padding-20">
  <div class="menu__tabs full-size flex">
    <a
      class="menu__tabs__item menu__tabs__boards hover radius-5 border padding-10-20"
      routerLinkActive="menu__tabs__item_active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="./boards"
    >
      <i class="fas fa-thumbtack"></i>
      Доски
    </a>

    <a
      class="menu__tabs__item menu__tabs__boards hover radius-5 border padding-10-20"
      routerLinkActive="menu__tabs__item_active"
      routerLink="./queues"
    >
      <i class="fas fa-key"></i>
      Очереди
    </a>

    <a
      class="menu__tabs__item menu__tabs__queues hover radius-5 border padding-10-20"
      routerLinkActive="menu__tabs__item_active"
      routerLink="./tasks"
    >
      <i class="fas fa-tasks"></i>
      Мои задачи
    </a>

    <a
      class="menu__tabs__item menu__tabs__queues hover radius-5 border padding-10-20"
      routerLinkActive="menu__tabs__item_active"
      routerLink="./search"
    >
      <i class="fas fa-search"></i>
      Поиск
    </a>
  </div>
</div>

<div class="content full-width">
  <router-outlet></router-outlet>
</div>
