.menu {
  height: auto;

  box-sizing: border-box;
  align-items: center;
  padding: 20px;

  &__tabs {
    justify-content: center;
    align-items: center;

    &__item {
      display: inline-block;
      text-align: center;

      padding: 10px 20px;
      border: 1px solid #3d5a80;
      border-radius: 5px;

      &_active {
        background-color: #e0fbfc;
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
}

.content {
  height: auto;
}

@media screen and (max-device-width: 450px) {
  .menu {
    padding: 5px;
    box-sizing: border-box;

    &__tabs {
      box-sizing: border-box;

      &__item {
        padding: 5px;
        font-size: 12px;

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}
