<div class="icon">
  <i *ngIf="priorityId === 1" class="fas fa-chevron-down hover"></i>
  <i *ngIf="priorityId === 2" class="fas fa-chevron-up hover"></i>
  <i *ngIf="priorityId === 3" class="fas fa-arrow-up color-red hover"></i>
  <i *ngIf="priorityId === 4" class="fas fa-lock color-red hover"></i>
  <i *ngIf="priorityId === 5" class="fas fa-bug hover"></i>
  <i *ngIf="priorityId === 6" class="fas fa-bug color-red hover"></i>

  <div class="icon__placeholder">
    Приоритет:
    <span
      [class.color-red]="
        priorityId === 3 || priorityId === 4 || priorityId == 6
      "
    >
      {{ placeholder }}
    </span>
  </div>
</div>
