<div class="tabs-for-phone full-width">
  <div
    class="tabs-for-phone__item padding-20"
    [class.tabs-for-phone__item_show]="showTask"
    (click)="toggle(true)"
  >
    Задача
  </div>

  <div
    class="tabs-for-phone__item padding-20"
    [class.tabs-for-phone__item_show]="!showTask"
    (click)="toggle(false)"
  >
    Информация
  </div>
</div>

<div class="edit-load-popup" *ngIf="isUpdate">
  Подождите, обновляем задачу....
</div>

<div class="task-page full-size flex padding-20" *ngIf="task$ | async as task">
  <div
    class="task-page__task-interface task-page__task-interface__touch full-height flex flex-column"
    [class.task-page__task-interface__touch_show]="showTask"
  >
    <div class="task-page__task-interface__title full-width flex padding-20">
      <span class="task-page__task-interface__title_queue">
        Очередь:
        <a [routerLink]="getQueueLink(task.key)">{{ getQueue(task.key) }}</a>
      </span>

      <span class="task-page__task-interface__title_task" *ngIf="!isEditTitle">
        <span class="task-page__task-interface__title_task_key">{{
          task.key
        }}</span
        >: {{ task.title }}
        <i
          *ngIf="hasClipboard"
          class="fas fa-copy task-page__task-interface__title_task_key_copy hover scale"
          (click)="copy(task)"
        ></i>
      </span>

      <div class="flex" *ngIf="isEditTitle">
        <input type="text" [(ngModel)]="taskTitle" class="edit-title" />
      </div>

      <div
        *ngIf="!isEditTitle && checkAbilityToUpdateInfo(task)"
        class="task-page__task-interface__title_edit hover hover-underline"
        (click)="editTitle()"
      >
        <i class="fas fa-edit task-page__task-interface__title_edit_icon"></i>
        Редактировать название
      </div>

      <div
        *ngIf="isEditTitle"
        class="task-page__task-interface__title_edit hover hover-underline"
        (click)="saveTitle(task.id)"
      >
        <i class="fas fa-edit task-page__task-interface__title_edit_icon"></i>
        Сохранить название
      </div>
    </div>

    <div
      class="task-page__task-interface__task-status full-width flex padding-20"
    >
      <div
        class="task-page__task-interface__task-status__item task-page__task-interface__task-status__priority"
      >
        <span
          class="task-page__task-interface__task-status__item_title task-page__task-interface__task-status__priority_title"
        >
          Приоритет:
        </span>

        <label
          class="task-page__task-interface__task-status__item_name task-page__task-interface__task-status__priority_name"
        >
          {{ getTaskPriority(task.priority) }}

          <select
            *ngIf="checkAbilityToUpdateInfo(task)"
            class="task-page__task-interface__task-status__item_name_select task-page__task-interface__task-status__priority_select hover"
            (change)="changePriority($event, task.id)"
          >
            <option
              *ngFor="let priority of priorityList; let index = index"
              [selected]="priority === getTaskPriority(task.priority)"
              [value]="index + 1"
            >
              {{ priority }}
            </option>
          </select>
        </label>
      </div>

      <div
        class="task-page__task-interface__task-status__item task-page__task-interface__task-status_status"
      >
        <span
          class="task-page__task-interface__task-status__item_title task-page__task-interface__task-status_status_title"
        >
          Статус:
        </span>

        <label
          class="task-page__task-interface__task-status__item_name task-page__task-interface__task-status_status_name hover hover-underline"
        >
          {{ getTaskStatus(task.status) }}

          <select
            *ngIf="checkAbilityToUpdateInfo(task)"
            class="task-page__task-interface__task-status__item_name_select task-page__task-interface__task-status_name_select hover"
            (change)="changeStatus($event, task.id)"
          >
            <option
              *ngFor="let status of statusList; let index = index"
              [selected]="getTaskStatus(task.status) === status"
              [value]="index + 1"
            >
              {{ status }}
            </option>
          </select>
        </label>
      </div>

      <div
        *ngIf="task.status !== 'CLOSED' && checkAbilityToUpdateInfo(task)"
        class="task-page__task-interface__task-status_close border hover scale"
        (click)="closeTask(task.id)"
      >
        Закрыть задачу
      </div>

      <div
        *ngIf="task.status === 'CLOSED'"
        class="task-page__task-interface__task-status_close border hover scale"
        (click)="openTask(task.id)"
      >
        Закрыть задачу
      </div>
    </div>

    <div
      class="task-page__task-interface__description flex flex-column padding-20 full-width"
    >
      <div
        class="task-page__task-interface__description_title-container full-width flex"
      >
        <div
          class="task-page__task-interface__description_title-container_title"
        >
          Описание задачи
        </div>
        <div
          *ngIf="!isEditDescription && checkAbilityToUpdateInfo(task)"
          class="task-page__task-interface__description_title-container_edit hover hover-underline"
          (click)="isEditDescription = true"
        >
          <i
            class="fas fa-edit task-page__task-interface__description_title-container_edit_icon"
          ></i>
          Редактировать описание
        </div>

        <div
          *ngIf="isEditDescription"
          class="task-page__task-interface__description_title-container_edit hover hover-underline"
          (click)="saveDescription(task.id)"
        >
          <i
            class="fas fa-edit task-page__task-interface__description_title-container_edit_icon"
          ></i>
          Сохранить описание
        </div>
      </div>
      <p
        class="task-page__task-interface__description_text"
        *ngIf="!isEditDescription"
      >
        {{ task.description }}
      </p>

      <textarea
        cols="50"
        rows="10"
        [(ngModel)]="description"
        *ngIf="isEditDescription"
      ></textarea>

      <!--      <div-->
      <!--        class="task-page__task-interface__description__attachments full-width flex flex-column"-->
      <!--      >-->
      <!--        <div class="task-page__task-interface__description__attachments_text">-->
      <!--          Вложения-->
      <!--        </div>-->

      <!--        <div-->
      <!--          class="task-page__task-interface__description__attachments_toggle hover hover-underline"-->
      <!--          *ngIf="!showAttachments"-->
      <!--          (click)="toggleAttachments()"-->
      <!--        >-->
      <!--          Показать вложения-->
      <!--          <i class="far fa-eye"></i>-->
      <!--        </div>-->

      <!--        <div-->
      <!--          class="task-page__task-interface__description__attachments_toggle hover hover-underline"-->
      <!--          *ngIf="showAttachments"-->
      <!--          (click)="toggleAttachments()"-->
      <!--        >-->
      <!--          Скрыть вложения-->
      <!--          <i class="fas fa-eye-slash"></i>-->
      <!--        </div>-->

      <!--        <div-->
      <!--          class="task-page__task-interface__description__attachments_show hover-underline"-->
      <!--          *ngIf="showAttachments"-->
      <!--        >-->
      <!--          Вложений нет-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div
      class="task-page__task-interface__comments full-width flex flex-column padding-20"
    >
      <div class="task-page__task-interface__comments_title">
        Комментарии
      </div>

      <div
        class="task-page__task-interface__comments__list full-width flex flex-column"
      >
        Комментариев нет
      </div>
    </div>
  </div>

  <div
    class="task-page__info task-page__info__touch flex flex-column"
    [class.task-page__info__touch_show]="!showTask"
  >
    <div class="task-page__info_title full-width padding-20">
      Информация
    </div>

    <div class="task-page__info_item full-width padding-20">
      Создатель:
      <a routerLink="." class="task-page__info_item_link profile-link">
        {{ task.creator.name }} {{ task.creator.surname }}
        <div class="task-page__info_item_link__profile-layout profile-layout">
          <app-profile-layout [user]="task.creator"></app-profile-layout>
        </div>
      </a>
    </div>

    <div class="task-page__info_item full-width padding-20">
      Исполнитель:
      <a
        *ngIf="!task.assignee && !canAssignUser(task.creator.id)"
        routerLink="."
        class="task-page__info_item_link profile-link hover"
        (click)="assignYorself(task.id)"
      >
        Назначить на себя
      </a>
      <a
        routerLink="."
        class="task-page__info_item_link profile-link hover"
        *ngIf="
          canAssignUser(task.creator.id) ||
          (task.assignee && !canAssignUser(task.creator.id))
        "
      >
        {{ getAssigneeName(task.assignee) }}
        <div
          *ngIf="task.assignee"
          class="task-page__info_item_link__profile-layout profile-layout"
        >
          <app-profile-layout [user]="task.assignee"></app-profile-layout>
        </div>

        <label
          *ngIf="canAssignUser(task.creator.id)"
          class="task-page__info_item_link_assignee hover"
        >
          <select
            *ngIf="usernames$ | async as usernames"
            class="task-page__info_item_link_assignee_select"
            (change)="assignUser($event, task.id)"
          >
            <option [selected]="!task.assignee">Не назначено</option>
            <option
              *ngFor="let username of usernames"
              [selected]="task.assignee?.username === assignUsername"
              [value]="username[0]"
            >
              {{ username[1] }} {{ username[2] }}
            </option>
          </select>
        </label>
      </a>
    </div>

    <div class="task-page__info_item full-width padding-20 flex">
      Наблюдатели:
      <a
        routerLink="."
        class="task-page__info_item_link profile-link"
        *ngFor="let observer of task.observers; let index = index"
      >
        {{ observer.name }} {{ observer.surname }}
        <span *ngIf="index !== task.observers.length - 1">,</span>
        <div class="task-page__info_item_link__profile-layout profile-layout">
          <app-profile-layout [user]="observer"></app-profile-layout>
        </div>
      </a>

      <div
        *ngIf="notObserver(task.observers)"
        class="observe-button hover hover-underline"
        (click)="setObserver(task.id)"
      >
        Наблюдать
      </div>
    </div>

    <div class="task-page__info_item full-width padding-20">
      Нужен ответ пользователей:
      <a routerLink="." class="task-page__info_item_link profile-link">
        <!--        {{ task.observers[0].name }}-->
        <div
          *ngIf="task.needAnswer"
          class="task-page__info_item_link__profile-layout profile-layout"
        >
          <!--          <app-profile-layout [user]="task.needAnswer[0]"></app-profile-layout>-->
        </div>
      </a>
    </div>

    <div class="task-page__info_item full-width padding-20">
      Story points: 10
    </div>

    <div class="task-page__info_item full-width padding-20">
      <a>Спринт: Спринт 7 (05.02 - 05.18)</a>
    </div>
  </div>
</div>
