<div class="task-page">
  <div class="task-page__task-interface">
    <div class="task-page__task-interface__title">
      <span class="task-page__task-interface__title_queue">
        Очередь: <a routerLink="/">TASK</a>
      </span>

      <span class="task-page__task-interface__title_task">
        <span class="task-page__task-interface__title_task_key">TASK-1</span>:
        Сделать таблицу
      </span>

      <div class="task-page__task-interface__title_edit">
        <i class="fas fa-edit task-page__task-interface__title_edit_icon"></i>
        Редактировать название
      </div>
    </div>

    <div class="task-page__task-interface__description">
      <div class="task-page__task-interface__description_title-container">
        <div
          class="task-page__task-interface__description_title-container_title"
        >
          Описание задачи
        </div>
        <div
          class="task-page__task-interface__description_title-container_edit"
        >
          <i
            class="fas fa-edit task-page__task-interface__description_title-container_edit_icon"
          ></i>
          Редактировать описание
        </div>
      </div>
      <p class="task-page__task-interface__description_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
        distinctio, fugiat hic id ipsa, ipsum iste iure minima modi possimus
        quam reiciendis saepe ullam ut vel voluptas. Blanditiis consequuntur
        deleniti deserunt ducimus ea explicabo facere fugiat illo inventore,
        itaque, molestias mollitia neque non officia perspiciatis possimus qui
        quidem quos rem repellat reprehenderit sequi sit suscipit vitae
        voluptatibus? Alias, amet consectetur debitis dicta doloribus maiores
        molestias nobis officia perferendis porro, possimus provident qui quis
        quisquam, repellendus sapiente temporibus ullam voluptatum. Dolore,
        dolorum eveniet ex facere iure nihil nobis nostrum rem tenetur
        voluptate. Deleniti doloribus, eius hic odit officiis reprehenderit
        tenetur.
      </p>

      <div class="task-page__task-interface__description__attachments">
        <div class="task-page__task-interface__description__attachments_text">
          Вложения
        </div>

        <div class="task-page__task-interface__description__attachments_toggle">
          Показать вложения
          <i class="far fa-eye"></i>
        </div>

        <div class="task-page__task-interface__description__attachments_show">
          Вложений нет
        </div>
      </div>
    </div>

    <div class="task-page__task-interface__comments">
      <div class="task-page__task-interface__comments_title">
        Комментарии
      </div>

      <div class="task-page__task-interface__comments__list">
        Комментариев нет
      </div>
    </div>
  </div>

  <div class="task-page__info">
    <div class="task-page__info_title">
      Информация
    </div>

    <div class="task-page__info_item">
      Создатель: Авдеев Иван
    </div>

    <div class="task-page__info_item">
      Исполнитель: Авдеев Иван
    </div>

    <div class="task-page__info_item">
      Наблюдатели: Авдеев Иван
    </div>

    <div class="task-page__info_item">
      Нужен ответ пользователя: Авдеев Иван
    </div>

    <div class="task-page__info_item">
      Story points: 10
    </div>

    <div class="task-page__info_item">
      Спринт: Спринт 7 (05.02 - 05.18)
    </div>
  </div>
</div>
