.task-page {
  justify-content: center;

  padding: 20px;
  box-sizing: border-box;
  color: #293241;

  &__task-interface {
    width: 75%;

    box-sizing: border-box;
    border-right: 1px solid #293241;

    &__title {
      align-items: baseline;

      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid #293241;

      &_queue {
        font-size: 16px;
        margin-right: 22px;
      }

      &_task {
        font-size: 24px;
        font-weight: bold;

        &_key {
          color: #ee6c4d;

          &_copy {
            margin-left: 5px;
            transition-property: transform;
            transition-duration: 0.5s;

            &:hover {
              color: #ee6c4d;
              transform: scale(1.05);

              transition-property: transform;
              transition-duration: 0.5s;
            }
          }
        }
      }

      &_edit {
        margin-left: auto;
        display: inline-block;
        margin-right: 10px;
        font-size: 16px;
      }
    }

    &__status {
      align-items: baseline;
      box-sizing: border-box;

      padding: 20px;
      border-bottom: 1px solid #293241;

      &_status {
        margin-right: 30px;
        min-width: 240px;

        &_title {
          font-size: 18px;
          font-weight: bold;
        }

        &_name {
          font-size: 18px;
          color: #ee6c4d;
          text-decoration: underline;
        }
      }

      &_change {
        font-size: 18px;
        margin-right: 5px;

        &_select {
          font-size: 18px;
          padding: 5px;
        }
      }

      &_close {
        padding: 10px;
        margin-left: auto;
        border-radius: 10px;
        background-color: #e0fbfc;

        transition-property: transform;
        transition-duration: 0.5s;

        &:hover {
          transform: scale(1.05);

          transition-property: transform;
          transition-duration: 0.5s;
        }
      }
    }

    &__description {
      padding: 20px;
      box-sizing: border-box;

      &_title-container {
        align-items: baseline;

        &_title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        &_edit {
          margin-left: auto;
          margin-right: 10px;
        }
      }

      &_text {
        margin-bottom: 20px;
      }

      &__attachments {
        &_text {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        &_toggle {
          margin-bottom: 10px;
        }
      }
    }

    &__comments {
      margin-top: 10px;
      padding: 20px;
      box-sizing: border-box;

      &_title {
        font-size: 24px;
        font-weight: bold;

        margin-bottom: 20px;
      }

      &__list {
        box-sizing: border-box;
        padding: 10px;
      }
    }
  }

  &__info {
    width: 25%;
    box-sizing: border-box;

    &_title {
      padding: 20px;
      font-size: 24px;
      font-weight: bold;

      box-sizing: border-box;
      border-bottom: 1px solid #293241;
    }

    &_item {
      padding: 20px;
      box-sizing: border-box;
      position: relative;

      &_link {
        display: inline-block;
        position: relative;
        padding: 5px;

        &__profile-layout {
          display: none;
          background-color: white;

          position: absolute;
          left: -140px;
          bottom: 210%;
        }

        &:hover &__profile-layout {
          display: flex;
        }
      }
    }
  }
}

.tabs-for-phone {
  display: none;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #293241;

  &__item {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    &:first-of-type {
      border-right: 1px solid #293241;
    }

    &_show {
      background-color: #e0fbfc;
    }
  }
}

@media screen and (max-device-width: 800px) {
  .tabs-for-phone {
    display: flex;
  }

  .task-page {
    padding: 0;

    &__task-interface {
      border-right: none;

      &__title {
        flex-direction: column;

        &_edit,
        &_queue {
          margin: 0 0 10px 0;
          font-size: 16px;
        }

        &_edit {
          margin-bottom: 0;
        }

        &_task {
          margin-bottom: 10px;
          font-size: 20px;
        }
      }

      &__touch {
        display: none;

        &_show {
          display: flex;
          width: 100%;
        }
      }

      &__status {
        &_change {
          &_select {
            border: 2px solid #ee6c4d;
          }
        }
      }

      &__description {
        margin-top: 0;

        &_title-container {
          flex-direction: column-reverse;

          &_title {
            margin-bottom: 10px;
            font-size: 20px;
          }

          &_edit {
            display: none;
          }
        }

        &_text {
          font-size: 16px;
        }

        &__attachments {
          &_text {
            font-size: 20px;
          }

          &_show {
            font-size: 16px;
          }
        }
      }

      &__comments {
        &_title {
          font-size: 20px;
        }

        &__list {
          font-size: 16px;
        }
      }
    }

    &__info {
      font-size: 16px;

      &_item {
        &_link {
          &__profile-layout {
            display: none;
          }

          &:hover &__profile-layout {
            display: none;
          }
        }
      }

      &__touch {
        display: none;

        &_show {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-device-width: 450px) {
  .task-page {
    &__task-interface {
      &__title {
        &_edit,
        &_queue {
          font-size: 14px;
        }
      }

      &__status {
        flex-wrap: wrap;

        &_status {
          margin-bottom: 10px;
        }

        &_change {
          margin-bottom: 15px;
        }

        &_close {
          margin-right: auto;
        }
      }

      &__description {
        &_text {
          font-size: 14px;
        }

        &__attachments {
          &_show {
            font-size: 14px;
          }
        }
      }

      &__comments {
        &__list {
          font-size: 14px;
        }
      }
    }

    &__info {
      font-size: 14px;
    }
  }
}

@media screen and (max-device-width: 350px) {
  .task-page {
    &__task-interface {
      &__status {
        &_status {
          font-size: 16px;
          min-width: auto;

          &_title {
            font-size: 16px;
          }

          &_name {
            font-size: 16px;
          }
        }

        &_change {
          font-size: 16px;

          &_select {
            font-size: 16px;
          }
        }

        &_close {
          font-size: 14px;
        }
      }
    }
  }
}
