.queues-list {
  &__item {
    box-sizing: border-box;
    text-align: left;
    padding: 20px;
  }

  &__creator {
    align-self: flex-start;
    display: flex;
    padding: 10px 20px;

    width: auto;
    position: relative;

    &_link {
      margin-left: 5px;

      &__profile-layout {
        position: absolute;
        display: none;
        left: 100%;
        bottom: 30%;
        width: auto;
        height: 300%;
        z-index: 100;
      }
    }

    &:hover &_link__profile-layout {
      display: block;
    }
  }

  &__person {
    font-size: 24px;

    &_icon {
      margin-right: 5px;
    }
  }

  &__filters {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;

    border-top: 1px solid #293241;

    padding: 10px 20px;

    &_item {
      display: flex;
      padding: 5px 15px;

      margin-right: 20px;

      border-radius: 5px;

      &_active {
        background-color: #e0fbfc;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__task-list {
    padding: 10px 20px;
    border-bottom: 1px solid #293241;
  }

  &__no-tasks {
    padding: 20px;
    font-size: 24px;

    justify-content: center;
    align-items: center;

    &_icon {
      font-size: 30px;
      margin-left: 10px;
    }
  }
}

.back-to-queues {
  display: flex;
  padding: 20px;

  align-self: flex-start;

  &_link {
    display: inline-block;
    color: #ee6c4d;

    &:hover {
      text-decoration: underline;
    }

    &_icon {
      margin-right: 5px;
    }
  }
}

@media screen and (max-device-width: 850px) {
  .queues-list {
    &__item {
      padding: 10px 20px;
    }

    &__creator {
      &:hover &_link__profile-layout {
        display: none;
      }
    }
  }
}

@media screen and (max-device-width: 750px) {
  .queues-list {
    &__filters {
      display: none;
    }
  }
}
