.queues-list {
  &__item {
    box-sizing: border-box;
    text-align: left;
  }

  &__creator {
    align-self: flex-start;
    display: flex;

    width: auto;
    position: relative;

    &_link {
      margin-left: 5px;

      &__profile-layout {
        position: absolute;
        display: none;
        left: -5%;
        bottom: 110%;
        width: auto;
        height: 300%;
        z-index: 100;
      }
    }

    &:hover &_link__profile-layout {
      display: block;
    }
  }

  &__person {
    font-size: 24px;

    &_icon {
      margin-right: 5px;
    }
  }
}

.back-to-queues {
  display: flex;

  align-self: flex-start;

  &_link {
    display: inline-block;
    color: #ee6c4d;

    &_icon {
      margin-right: 5px;
    }
  }
}

@media screen and (max-device-width: 850px) {
  .queues-list {
    &__item {
      padding: 10px 20px;
    }

    &__creator {
      &:hover &_link__profile-layout {
        display: none;
      }
    }
  }
}
