.header {
  width: 100%;
  height: auto;

  background-color: #3d5a80;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    padding: 10px;

    &__link {
      display: inline-block;
      padding: 10px 20px;

      background-color: #e0fbfc;
      color: #3d5a80;
      border-radius: 10px;

      transition-property: transform;
      transition-duration: 0.5s;

      &_margin {
        margin-right: 10px;
      }

      &_text {
        margin-right: 5px;
      }

      &:hover {
        text-decoration: none;
        transform: scale(1.05);

        transition-property: transform;
        transition-duration: 0.5s;
      }

      &_queue {
        &:hover {
          cursor: pointer;
          text-decoration: none;
          transform: none;
        }
      }
    }

    &__queue {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      position: relative;

      &:hover &__list {
        display: flex;
      }

      &__list {
        width: 100%;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        top: 100%;
        background-color: #3d5a80;
        padding: 10px 1px 1px 1px;

        &:hover {
          display: flex;
        }

        &_item {
          box-sizing: border-box;
          width: 100%;
          padding: 10px 20px;
          font-size: 14px;

          background-color: #e0fbfc;
          color: #3d5a80;
          text-align: center;

          margin-bottom: 5px;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__logo {
    color: white;
    font-size: 32px;

    &_title {
      margin-left: 20px;
      font-family: "Comic Neue", cursive;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
    height: 59px;

    &__navigation {
      min-width: auto;
      margin-left: 0;

      &__link {
        &_text {
          display: none;
        }
      }

      &__queue,
      &__queue__list {
        width: 300%;
      }
    }

    &__logo_title {
      display: none;
    }

    &__auth-buttons_auth {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    &__navigation {
      &__link {
        padding: 5px 15px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    &__logo_title {
      display: none;
    }
  }
}
