<div class="header">
  <div class="header__navigation">
    <a
      routerLink="."
      class="header__navigation__link header__navigation__link_margin"
    >
      <span class="header__navigation__link_text">На главную</span>
      <i
        class="fa fa-home header__navigation__link_icon"
        aria-hidden="true"
      ></i>
    </a>

    <a routerLink="./menu" class="header__navigation__link">
      <span class="header__navigation__link_text">Dashboard</span>
      <i
        class="fas fa-calendar-alt header__navigation__link_icon"
        aria-hidden="true"
      ></i>
    </a>
  </div>

  <div class="header__logo" routerLink=".">
    <i class="fas fa-calendar-alt header__logo_icon"></i>
    <span class="header__logo_title">Star Trello</span>
  </div>

  <div class="header__navigation">
    <a
      routerLink="."
      class="header__navigation__link header__navigation__link_margin"
    >
      <span class="header__navigation__link_text">Профиль</span>
      <i
        class="fa fa-user header__navigation__link_icon"
        aria-hidden="true"
      ></i>
    </a>
    <a routerLink="/" class="header__navigation__link">
      <span class="header__navigation__link_text">Выйти</span>
      <i class="fas fa-sign-out-alt header__navigation__link_icon"></i>
    </a>
  </div>
</div>
