<div class="item">
  <i class="fas fa-bell icon"></i>
  <span>
    <a
      [routerLink]="['/', push.initiator.id, 'profile']"
      class="link link-person"
    >
      {{ push.initiator.name }} {{ push.initiator.surname }}</a
    >
    {{ notificationText }}
    <a
      [routerLink]="['/', id, 'dashboard', 'task', push.task.key]"
      class="link link-task"
    >
      {{ push.task.key }}: {{ push.task.title }}
    </a>
  </span>

  <i class="fas fa-trash-alt close hover scale" (click)="delete(push.id)"></i>
</div>
