<div
  class="full-size flex flex-column profile padding-20"
  *ngIf="userData$ | async as data"
>
  <div class="full-width flex padding-10 profile-container">
    <div class="profile__avatar flex">
      <i class="fas fa-user profile__avatar__img"></i>
    </div>

    <div class="profile__data flex flex-column">
      <div class="profile__data__item profile__data__name">
        Имя:
        <span class="profile__data__name_text">{{
          getUserFullname(data.surname, data.name)
        }}</span>
      </div>

      <div class="profile__data__item profile__data__name">
        Логин:
        <span class="profile__data__name_text">{{ data.username }}</span>
      </div>

      <div class="profile__data__item profile__data__name">
        Telegram:
        <span class="profile__data__name_text">{{
          data.tgUsername || "Не указано"
        }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="isCanEdit">
    <a
      routerLink="./edit"
      class="hover padding-10-20 radius-10 profile__edit-button"
      >Редактировать</a
    >
  </div>
</div>
