<div
  class="item boards full-width flex flex-column padding-20"
  *ngIf="boards$ | async as boards"
>
  <div class="item__title boards__title">
    Ваши доски
    <i class="fas fa-thumbtack"></i>
  </div>

  <div class="item__list boards__list full-width flex padding-10">
    <div
      class="item__list__create boards__list__create flex hover border padding-20 scale radius-10"
      [routerLink]="['/', userId, 'dashboard', 'create-board']"
    >
      <i
        class="fas fa-plus item__list__create_icon boards__list__create_icon"
      ></i>
      Создать доску
    </div>

    <app-dashboard-board
      *ngFor="let board of boards"
      [board]="board"
    ></app-dashboard-board>
  </div>

  <div class="item__search boards__search full-width flex flex-column">
    <div class="item__title boards__title">
      Быстрый поиск по названию
      <i class="fas fa-search"></i>
    </div>

    <label class="item__search__label boards__search__label">
      <input
        class="item__search_input boards__search_input padding-10"
        placeholder="Введите название доски"
        type="text"
        [(ngModel)]="search"
        (keyup)="find(boards)"
      />
    </label>

    <div class="item__list boards__list full-width flex">
      <app-dashboard-board
        *ngFor="let board of filterBoards"
        [board]="board"
      ></app-dashboard-board>
    </div>
  </div>
</div>
