<div class="profile-layout full-size flex">
  <div class="profile-layout__about full-size flex">
    <div class="profile-layout__about__image full-height flex">
      <i class="fas fa-user profile-layout__about__image_img"></i>
    </div>

    <div class="profile-layout__about__person flex flex-column">
      <a class="profile-layout__about__person_name">
        {{ user.name }}
      </a>

      <div class="profile-layout__about__person_job">
        {{ user.job }}
      </div>

      <div class="profile-layout__about__person_online">
        Был в сети сегодня в 12:50
      </div>
    </div>
  </div>
</div>
