<div class="profile-layout">
  <div class="profile-layout__about">
    <div class="profile-layout__about__image">
      <i class="fas fa-user profile-layout__about__image_img"></i>
    </div>

    <div class="profile-layout__about__person">
      <a class="profile-layout__about__person_name">
        Авдеев Иван
      </a>

      <div class="profile-layout__about__person_job">
        Разработчик интерфейсов
      </div>

      <div class="profile-layout__about__person_online">
        Был в сети сегодня в 12:50
      </div>
    </div>
  </div>
</div>
