.profile-layout {
  position: relative;
  padding: 10px;

  align-items: center;

  background-color: white;
  border: 1px solid #293241;
  border-radius: 5px;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid #293241;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 10;

    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    transform: rotate(45deg);
  }

  &__about {
    justify-content: space-around;
    align-items: center;

    &__image {
      justify-content: center;
      align-items: center;
      font-size: 86px;

      margin-right: 20px;
      line-height: 20px;
    }

    &__person {
      height: 100%;

      &_name {
        margin-top: 10px;
        font-size: 22px;
        white-space: nowrap;

        &:first-letter {
          color: #ee6c4d;
        }
      }

      &_job {
        font-size: 16px;
        white-space: nowrap;
        color: #293241;
      }

      &_online {
        margin-top: auto;
        margin-bottom: 10px;
        font-size: 12px;
        white-space: nowrap;
        color: #293241;
      }
    }
  }
}
