<div class="profile-layout full-size flex">
  <div class="profile-layout__about full-size flex">
    <div class="profile-layout__about__image full-height flex">
      <i class="fas fa-user profile-layout__about__image_img"></i>
    </div>

    <div class="profile-layout__about__person flex flex-column">
      <a
        class="profile-layout__about__person_name"
        [routerLink]="['/', user.id, 'profile']"
      >
        {{ user.name }} {{ user.surname }}
      </a>

      <div class="profile-layout__about__person_job">
        Погроммист
      </div>

      <div class="profile-layout__about__person_online">
        Зарегистрирован: {{ user.created | update }}
      </div>
    </div>
  </div>
</div>
