<div class="queues item" *ngIf="queues$ | async as queues">
  <div class="item__title queues__title">
    Ваши очереди
    <i class="fas fa-key"></i>
  </div>

  <div class="item__list queues__list">
    <div
      class="item__list__create queues__list__create"
      [routerLink]="['/', userId, 'dashboard', 'create-queue']"
    >
      <i
        class="fas fa-plus item__list__create_icon queues__list__create_icon"
      ></i>
      Создать очередь
    </div>

    <app-queue *ngFor="let queue of queues" [queue]="queue"></app-queue>
  </div>

  <div class="item__search queues__search">
    <div class="item__title queues__title">
      Быстрый поиск по названию
      <i class="fas fa-search"></i>
    </div>

    <label class="item__search__label queues__search__label">
      <input
        class="item__search_input queues__search_input"
        placeholder="Введите название доски"
        type="text"
        [(ngModel)]="search"
        (keyup)="find()"
      />
    </label>

    <div class="item__list queues__list">
      <app-queue *ngFor="let queue of filterQueues" [queue]="queue"></app-queue>
    </div>
  </div>
</div>
