.no-queues {
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

@media screen and (max-device-width: 450px) {
  .queues {
    &__list {
      &__create {
        font-size: 20px;
      }
    }
  }
}
