.item {
  height: auto;
  box-sizing: border-box;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    align-items: center;
    box-sizing: border-box;
    overflow: scroll;

    &__create {
      min-width: 250px;
      height: 150px;

      justify-content: center;
      align-items: center;

      margin: 0 20px 20px 0;

      font-size: 24px;

      &_icon {
        margin-right: 10px;
      }
    }
  }

  &__search {
    margin-top: 10px;

    &__label {
      margin-bottom: 20px;
    }

    &_input {
      width: 250px;
      font-size: 16px;
      border-radius: 5px;
    }
  }
}

@media screen and (max-device-width: 450px) {
  .item {
    &__title {
      font-size: 18px;
    }

    &__list {
      &__create {
        min-width: 200px;
        height: 100px;
        font-size: 20px;
      }
    }

    &__search {
      &_input {
        width: 200px;
        font-size: 14px;
        padding: 5px;
      }
    }
  }
}
