<div class="dashboard-task-list" *ngIf="list$ | async as list">
  <div class="dashboard-task-list__item dashboard-task-list__person">
    <i class="fas fa-user dashboard-task-list__person_icon"></i>
    Авдеев Иван
  </div>
  <div class="dashboard-task-list__item dashboard-task-list__task-list">
    <i class="fas fa-tasks"></i>
    Список задач
  </div>

  <div class="dashboard-task-list__filters">
    <div
      class="dashboard-task-list__filters_item"
      [class.dashboard-task-list__filters_item_active]="all"
      (click)="toggle('all')"
    >
      Все
    </div>

    <div
      class="dashboard-task-list__filters_item"
      [class.dashboard-task-list__filters_item_active]="author"
      (click)="toggle('author')"
    >
      Я автор
    </div>

    <div
      class="dashboard-task-list__filters_item"
      [class.dashboard-task-list__filters_item_active]="person"
      (click)="toggle('person')"
    >
      Я исполнитель
    </div>

    <div
      class="dashboard-task-list__filters_item"
      [class.dashboard-task-list__filters_item_active]="observer"
      (click)="toggle('observer')"
    >
      Я наблюдатель
    </div>
  </div>

  <app-dashboard-task-list-header></app-dashboard-task-list-header>
  <app-dashboard-task-list-row
    *ngFor="let item of list"
    [data]="item"
  ></app-dashboard-task-list-row>
  <div class="dashboard-task-list__no-tasks" *ngIf="list.length === 0">
    Задач нет
    <i class="far fa-frown dashboard-task-list__no-tasks_icon"></i>
  </div>
</div>
