<div class="header">
  <div class="header__item header__priority">
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__key">
    Ключ
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__title">
    Задача
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__person">
    Создатель
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__person">
    Исполнитель
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__status">
    Статус
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>

  <div class="header__item header__date">
    Обновлено
    <i class="fas fa-sort-up header__item_icon"></i>
  </div>
</div>
