<div class="header full-width flex">
  <div class="header__item header__priority hover" (click)="selectColumn(1)">
    <span class="header__item_text hover hover-underline">
      Приоритет
      <i
        *ngIf="selected === 1"
        [class.rotate]="increase"
        class="fas fa-sort-up header__item_icon"
      ></i>
    </span>
  </div>

  <div class="header__item header__key flex" (click)="selectColumn(2)">
    <span class="header__item_text hover hover-underline">
      Ключ
      <i
        *ngIf="selected === 2"
        [class.rotate]="increase"
        class="fas fa-sort-up header__item_icon"
      ></i>
    </span>
  </div>

  <div class="header__item header__title flex">
    <span class="hover hover-underline">Задача</span>
  </div>

  <div class="header__item header__person flex">
    <span class="hover hover-underline">Создатель</span>
  </div>

  <div class="header__item header__person flex">
    <span class="hover hover-underline">Исполнитель</span>
  </div>

  <div class="header__item header__status flex" (click)="selectColumn(3)">
    <span class="header__item_text hover hover-underline">
      Статус
      <i
        *ngIf="selected === 3"
        class="fas fa-sort-up header__item_icon"
        [class.rotate]="increase"
      ></i>
    </span>
  </div>

  <div class="header__item header__date flex" (click)="selectColumn(4)">
    <span class="header__item_text hover hover-underline">
      Обновлено
      <i
        *ngIf="selected === 4"
        class="fas fa-sort-up header__item_icon"
        [class.rotate]="increase"
      ></i>
    </span>
  </div>
</div>
