<div class="queues-list" *ngIf="list$ | async as list">
  <div class="back-to-queues">
    <a routerLink="/123/dashboard/menu/queues" class="back-to-queues_link"
      >Назад к списку очередей</a
    >
  </div>
  <div class="queues-list__item queues-list__person">
    <i class="fas fa-key queues-list__person_icon"></i>
    {{ queue.toUpperCase() }}
  </div>

  <app-dashboard-task-list-header></app-dashboard-task-list-header>
  <app-dashboard-task-list-row
    *ngFor="let item of list"
    [data]="item"
  ></app-dashboard-task-list-row>
  <div class="queues-list__no-tasks" *ngIf="list.length === 0">
    Задач нет
    <i class="far fa-frown queues-list__no-tasks_icon"></i>
  </div>
</div>
