.dashboard-task-list {
  align-items: center;

  &__item {
    box-sizing: border-box;
    text-align: left;
  }

  &__person {
    font-size: 24px;

    &_icon {
      margin-right: 5px;
    }
  }
}
