.dashboard-task-list {
  align-items: center;

  &__filters {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    align-items: center;

    padding: 10px 20px;

    &_item {
      display: flex;
      padding: 5px 15px;

      margin-right: 20px;

      border-radius: 5px;

      &_active {
        background-color: #e0fbfc;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    text-align: left;
    padding: 20px;
  }

  &__person {
    font-size: 24px;

    &_icon {
      margin-right: 5px;
    }
  }

  &__task-list {
    padding: 10px 20px;
    border-bottom: 1px solid #293241;
  }

  &__no-tasks {
    padding: 20px;
    font-size: 24px;

    justify-content: center;
    align-items: center;

    &_icon {
      font-size: 30px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-device-width: 750px) {
  .dashboard-task-list {
    &__filters {
      display: none;
    }
  }
}
