:host {
  margin-right: 20px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #293241;
  border-radius: 10px;

  font-size: 24px;
  color: white;

  transition-property: transform;
  transition-duration: 1s;

  position: relative;

  &_background {
    width: 250px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__creator {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &:hover {
    cursor: pointer;

    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 1s;
  }
}

@media screen and (max-device-width: 450px) {
  .item_background {
    width: 200px;
    height: 100px;
  }
}
